## A COMPREHENSIVE PRACTICAL GUIDE TO THE PYTHON DATETIME MODULE

<img src = 'Datetime.jpg'>

Time is a very important feature for many data science related tasks and any other task you can think of. For example,inventory information are very crucial for retail analytics, The foreign exchange market trades on minute-level, A football game can be successful without the referee making use of time.

The way we represent and use time-related information changes depending on the task. For a scientific experiment, we may talk about measurements recorded on a microsecond-level. However, we do not need such a precision for demographic information such as population, average household income, and so on. The datetime module of Python helps us handle time-related information on any precision level. In this article, we will elaborate on 4 objects in this module which are:"


- **Date**






- **Time**






- **Datetime**





- **Timedelta**





- **Grouping and resampling Time series data**

### 1.  Date

Date object represents a date in terms of year,month, and day. Let's go over a few examples to demonstrate how to use them. We can create a data object that stores a specific date by passing the year, month, and day information.

<img src = 'Date.jpg'>

In [1]:
from datetime import date

In [2]:
my_date = date(year =2020, month = 4, day = 11)
print(my_date)

2020-04-11

In [14]:
print(type(my_date))

<class 'datetime.date'>

In [3]:
Thors_day = date(2020, 5, 22)
print(Thors_day)

2020-05-22

In [4]:
moon_landing = date(1998, 5, 22)
print(moon_landing)

1998-05-22

In [6]:
moon_landing.year

1998

In [7]:
moon_landing.month

5

In [8]:
moon_landing.day

22

You can also get today's date by using the `.today()` method

In [10]:
today = date.today()
today

datetime.date(2021, 7, 16)

In [11]:
today.year

2021

In [12]:
today.month

7

In [13]:
today.day

16

it is imperative to note that we cannot use leading zeros on month and day information. For instamce, the following code will return a syntax error.

In [15]:
mydate= date(2020, 04, 02)
print(mydate)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-15-d3fd948fbf75>, line 1)

Another useful method that we can use on a date object is `ctime` which returns the date in a more detailed or expanded format.

In [16]:
mydate = date(2021, 2, 15)

mydate.ctime()

'Mon Feb 15 00:00:00 2021'

### 2. Time

<img src = 'Time.jpg'>

Time object represent the time on hour, second, minute and microsecond levels.

In [17]:
from datetime import time

In [18]:
game_time = time(hour = 14, minute = 20, second = 20)
print(game_time)

14:20:20

In [20]:
sleep_time = time(14,20)
print(sleep_time)

14:20:00

We have only defined the hour and minute part. Python assigns 0 for the remaining attributes of the time by default.

In [21]:
sleep_time.second

14

In [22]:
sleep_time.minute

20

In [23]:
sleep_time.hour

14

We can also create more precise time objects by passing all the attributes.

In [24]:
play_time = time(2, 14, 25, 30)
print(play_time)

02:14:25.000030

Now lets write a loop program and use the time module to calculate the program time

In [30]:
import time

start = time.time()
for i in range(12):
    if i % 2 == 0:
        print(i)
end = time.time()

prog_time = end - start
print(f'run time is :{prog_time}')

0
2
4
6
8
10
run time is :0.0019989013671875

### 3. DateTime

<img src = 'DT.jpg'>

Datetime is the kind of a combination of date and time. it can represent all the attributes from date and time objects. Lets hop onto the examples to make it more clear.

In [33]:
from datetime import datetime

In [35]:
dt = datetime(2021,4,28)
print(dt)

2021-04-28 00:00:00

In [37]:
dt2 = datetime(2021, 1, 14, 16, 20)
print(dt2)

2021-01-14 16:20:00

Datetime provides the pliability of utilizing date only, or date and time combined. There is a heirarchy among the parameters starting from year and going down to microsecond level.

The today function can be used with the datetime objects as well.

In [39]:
datetime.today()

print(datetime.today())

2021-07-16 13:35:42.232792

if you print a datetime object, the output is displayed in a more structured way, just like with the date time objects,individual attributes of the datetime objects can be extracted.

In [40]:
mydatetime = datetime(2021,1,14,16,20)

print(mydatetime.month)

1

In [41]:
print(mydatetime.minute)

20

We can also calculate the difference between two datatime objects as well.

In [42]:
mydatetime1 = datetime(2021,1,14,16,20)

mydatetime2 = datetime(2021, 1, 10)

diff = mydatetime1 - mydatetime2
print(diff)

4 days, 16:20:00

In [43]:
today = datetime.today()

In [44]:
print(today)

2021-07-16 13:41:36.141227

In [45]:
print(datetime.now())

2021-07-16 13:42:00.193382

In [46]:
print(today.year)

2021

In [47]:
print(today.month)

7

In [48]:
print(today.day)

16

In [49]:
print(today.hour)

13

In [50]:
print(today.minute)

41

In [51]:
print(today.second)

36

In [54]:
#get the day of the week 0-Monday, 1- Tuesday, 2- Wednesday, 3- Thursday, 4 - Friday, 5- Saturday, 6- Sunday
print(today.weekday())

4

We can also use the `replace()` method to manipulate date and time

In [57]:
same_time_9yrs_ago = today.replace(year = 2012)
print(same_time_9yrs_ago)

2012-07-16 13:41:36.141227

In [58]:
same_time_in_january = today.replace(month = 1)
print(same_time_in_january)

2021-01-16 13:41:36.141227

#### Changing the Format of Datetime
Date is usually read in different format depending on the geographical location. For instance, n British English, dates are usually written in the order day – month – year, while in American English they are written month – day – year. We change the format or style of our date and time using the `strftime` object.

In [60]:
today = datetime.today()

In [61]:
print(today.strftime('%m'))

07

In [63]:
print(today.strftime("%m %d"))

07 16

In [64]:
print(today.strftime("%m/%d/%Y"))

07/16/2021

In [65]:
print(today.strftime("%m-%d-%Y"))

07-16-2021

In [66]:
print(today.strftime("%Y-%m-%d"))

2021-07-16

In [67]:
print(today.strftime("%y-%m-%d"))

21-07-16

In [68]:
#To get the output of the day
print(today.strftime("%A"))

Friday

In [69]:
#To get the output of the month
print(today.strftime("%B"))

July

In [74]:
#To get the output of the day in your own format
print(today.strftime(" Today is %A 16th of %B, %Y"))

 Today is Friday 16th of July, 2021

### 4. TimeDelta

<img src = 'Intro.jpg'>

Timedelta object represent a duration so we can use them to calculate the difference between two dates or times.

Here is a timedelta object that represents a duration of 6 days.

In [77]:
from datetime import datetime,timedelta
myday = timedelta(days=20)

print(myday)

20 days, 0:00:00

In [79]:
myday1 = timedelta(minutes=50)
print(myday1)

0:50:00

In [80]:
production_day = datetime(2012,5,27)
today = datetime.now()

prod_life_span = today - production_day
print(prod_life_span)

3337 days, 14:24:11.112709

In [81]:
print(type(prod_life_span))

<class 'datetime.timedelta'>

In [82]:
#to get the answer in seconds
print(f'the product has been in existence for: {prod_life_span.total_seconds()} seconds')

the product has been in existence for: 288368651.112709 seconds

In [86]:
five_hundred_days = timedelta(days=500, hours =12)

print(five_hundred_days + five_hundred_days)

1001 days, 0:00:00

In [93]:
#to get what date it would be 500 days from now
print(today + five_hundred_days)

2022-11-29 02:24:11.112709

### 5.  Grouping and resampling Time series data

<img src = 'Dtime.jpg'>

Resampling is very similar to grouping in the sense that you get groups after resampling data.But resample is used for the DateTime data type.

Whereas, when grouping the DataFrame, you group by some column which can be any data type.

It can be an index or any column in the DataFrame but `resample()` is always used for DateTime objects. Also, most of the time when working with Time Series data, you will set the index to be the DateTime column as it helps in making analysis easier.

The basics of resampling are that you need to pass a frequency like 'D' for Days, 'M' for Months, etc. This information can be found in the documentation as well.

Let's look at an example of how resampling works. Consider the following data:

In [95]:
import pandas as pd
import numpy as np
dates = pd.date_range(start = '2021-05-01', end = '2021-05-31')

values = np.random.randint(100, size = 31)

df = pd.DataFrame({'date':dates,"Values":values})
df.set_index('date',inplace=True)
df.head(10)

            Values
date
2021-05-01      74
2021-05-02      69
2021-05-03      44
2021-05-04       0
2021-05-05      65
2021-05-06      57
2021-05-07      30
2021-05-08      89
2021-05-09      31
2021-05-10      48

###  a) Upsampling the Data
Upsampling is the process of increasing the frequency of the DateTime object i.e. you convert higher units like *Years* to lower unit like *Days*. So for example if you have periodic data every year and if you want the data at the month level then you can pass a frequency of months and pandas will insert values for each month between the yearly intervals.

Let's say we want to add some hourly data to all days, we could do this by resampling hourly and wherever the value doesn't exist, we will get NaN values.

In [99]:
hourly = df.resample('H').ffill()
hourly.head(7)

                     Values
date
2021-05-01 00:00:00      74
2021-05-01 01:00:00      74
2021-05-01 02:00:00      74
2021-05-01 03:00:00      74
2021-05-01 04:00:00      74
2021-05-01 05:00:00      74
2021-05-01 06:00:00      74

here, since each day starts at 00:00 we get hourly intervals inserted and we use ffill() to fil the NaNs in the dataset. Usually, you would end up interpolating of filling the NANs when you upsample the data.

### b) Downsampling the Data
Downsampling is the reverse of up-sampling where you apply some aggregate function to reduce the frequency i.e. go from days to months and group the data together by applying some aggregate function.

Let's say we want to downsample the daily data to weekling data and get the average value weekly.

In [97]:
weekly = df.resample('W').mean()
weekly

               Values
date
2021-05-02  71.500000
2021-05-09  45.142857
2021-05-16  47.571429
2021-05-23  54.714286
2021-05-30  46.000000
2021-06-06  53.000000

In conclusion, Datetime module of Python is very flexible and presents variety of ways to manipulate dates and times. It comes in very handy when working with dates.